In [22]:
import numpy as np
import pandas as pd

In [2]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [3]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [4]:
orders

   id  customerId
0   1           3
1   2           1

In [9]:
df= pd.merge(left=customers,right=orders,how='left',left_on='id',right_on='customerId')
df

   id_x   name  id_y  customerId
0     1    Joe     2           1
1     2  Henry  <NA>        <NA>
2     3    Sam     1           3
3     4    Max  <NA>        <NA>

In [24]:
df =df.fillna(0)
df

   id_x   name  id_y  customerId
0     1    Joe     2           1
1     2  Henry     0           0
2     3    Sam     1           3
3     4    Max     0           0

In [33]:
df_na =df[ df['id_y']==0]
df_na=df_na.rename(columns={'name':'Customers'})
df_na[['Customers']]

  Customers
1     Henry
3       Max

### `Cach 2`

In [44]:
customers= customers[~customers['id'].isin(orders['customerId'])]
customers.rename(columns={'name':'Customers'})
customers.iloc[:,1]

1    Henry
3      Max
Name: name, dtype: object